/* boilerplate */
* {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
}

html, body {
font-family: Helvetica;
font-size: 22px;
color: seashell;
text-align: center;
height: 100%;
width: 1200px;
} 

/* navbar */
header {
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 69px;
border-bottom: 1px solid white;
}

header img {
margin-left: 10px;
height: 50px;
}

nav .hamburger {
  display: none;
}

nav li {
display: inline-block;
list-style-type: none;
margin: auto 10px;
}
nav a {
color: white;
}

/* hero */
#mission {
display: flex;
justify-content: center;
}
#mission .container {      
background-image: url("./img/mission.jpg");
height: 700px;
background-size: cover;
}
#mission .mission-text {
margin-top: 350px;
width: 1200px;
}

/* main */
#featured {
  margin: 60px auto;
}

.gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gallery figure {
  margin: 10px;
}
.gallery figure img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

/* locations section */
#locations {
  background-image: url("./img/locations.jpg");
  background-size: cover;
  height: 600px;
  margin: 0 auto;
  padding: 100px;
}

#locations h2 {
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  font-weight: 800;
}

.address-container {
  margin-top: 50px;
  display: flex;
  background-color: transparent;
}
.address-container .address {
  width: 300px;
  margin: 15px 40px;
  text-align: center;
}
.address-container .address img {
  width: 100%;
  height: 150px;
}
.address-container .address h3 {
  margin-top: 15px;
  margin-bottom: 20px;
}
.address-container .address p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* footer */
footer {
  margin-top: 50px;
  width: 100%;
}

footer .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 450px) { /* for typical mobile devices */


  /* navbar */
  header .logo {
    margin: auto;
  }
  header ul {
    display: none;
  }

  /* featured */
  #featured {
    flex-direction: column;
    display: flex;
    margin: 25%;
  }
  #featured h2 {
    margin-bottom: 20px;
  }
  .gallery {
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
  }
  .gallery figure {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .gallery figure img {
    width: 100%;
    height: 100%;
  }

  /* locations container */
  #locations {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-size: cover; 
    background-position: 82% 50%; 
    background-repeat: no-repeat; 
  }
  #locations h2 {
    color: white;
    background-color: transparent;
    font-weight: 800;
  }
  #locations .address-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  #locations .address {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 50px;
  }
  #locations .address img {
    width: 100%;
    height: 100%;
  }
  .hide-location-responsive {
    display: none;
  }
  #locations .address-container .read-more {
    display: block !important;
    background-color: rgba(255, 255, 255, 0);
    color: grey;
    font-size: 1.5rem;
    margin-left: 3.2em;
  }

}